body{
    font-family: 'Montserrat';
    background: #1e272e;
}

.introduction{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    padding-top: 100px;
    color: white; 
    
    h1{
        font-size: 50px;
    }
    
    form{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    input[type=submit]{
        background-color:#1e3799;
        border: none;
        color: white;
        margin-top: 5px;
        padding: 10px;
        border-radius: 32px;
    }

    input[type=text]{
        border: none;
        margin-top: 20px;
        padding: 10px;
        border-radius: 32px;
    }

    .message{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-top: 20px;
        padding: 20px;
    }
}


.bodyrecette {
    background-color: #1e272e;
    display: flex;
}

.nouveau{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 22%;
    color: white;
}

.bienvenue{
    font-size: 30px;
    color: white;
}

.ajout{
    background-color: #1e3799;
    color: white;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 80px;
}

h1{
    display: contents;
    font-size: 60px;
    color: white;
    margin-top: 85px;
}

.recette{
    display: flex;
    color: white;

    .ingredients, .etapes{
        display: flex;
        width: 900px;
        flex-direction: column;
        margin-top: 200px;
        margin-left: -20%;
    }

    .image{
        display: flex;
        width: 50vw;
        flex-direction: column;
        margin-left: -40%;
        margin-top: 23%;
    }
}